# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env



Backend initial setup.postman_collection.json
ecosystem.config.json

# Code coverage
coverage

app.log*

/public
/dist

README.md